@import url("https://fonts.googleapis.com/css2?family=Solway&display=swap");

body {
  /* background-image: url(https://image.freepik.com/free-photo/white-grey-marble-texture-background-natural-tile-stone-floor_38607-501.jpg); */
  font-family: "Solway", serif;
  background-color:rgb(250, 248, 248);
}

.siteName {
  font-size: 80px;
  color: black;
}

.glow {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: darksalmon;
  }
  50% {
    color: chocolate;
  }
  100% {
    color: goldenrod;
  }
}

h2 {
  font-size: 56px;
}

.formP {
  text-align: center;
  color: black;
  bottom: 25px;
  margin-top: 280px;
  margin-left: -200px;
}

.inputB {
  width: 290px;
  height: 60px;
  padding: 12px 20px;
  margin: 51px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
}

.submitb {
  width: 110px;
  height: 60px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
  margin-left: -250px;
}

.submitb:disabled {
  color: lightslategray;
  background-color: lightgrey;
  cursor: not-allowed;
}

.submitm {
  font-size: 41px;
  padding-top: 30px;
}

.train2 {
  position: absolute;
  top: 770px;
  height: 127px;
  width: 1500px;
  padding: 0;
  margin: 0;
  right: -690px;
  background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QandQOVZSTjBETGs);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  animation: move-train 14s linear infinite;
}

/* @keyframes move-train {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3190px);
  }
} */

.smallName {
  font-size: 2rem;
}
