.welcomeMessage {
  margin-top: 90px;
  margin-left: 260px;
}


.alice-carousel__next-btn-item,
.alice-carousel__prev-btn-item {
  color: black !important;
  font-weight: bolder;
  font-size: 1.75rem;
}

.advert1 {
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(199, 162, 231);
  width: 450px;
  height: 650px;
  position: relative;
  left: 730px;
}

.advert1:hover {
  border: 0.5rem gold solid;
  transition: all 0.3s ease;
}

.advert2 {
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(199, 162, 231);
  width: 340px;
  height: 420px;
  position: relative;
  top: -750px;
  left: 260px;
}

.advert2:hover,
.advert3:hover,
.advert4:hover,
.adButton:hover,
.advert5:hover,
.advert6:hover {
  border: 0.3rem gold solid;
  transition: all 0.3s ease;
}

.advert3 {
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(199, 162, 231);
  width: 450px;
  height: 310px;
  position: relative;
  left: 1280px;
  top: -1179px;
}

.advert4 {
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(199, 162, 231);
  width: 450px;
  height: 310px;
  position: relative;
  left: 1280px;
  top: -1128px;
}

.advert5 {
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(199, 162, 231);
  width: 1200px;
  height: 710px;
  position: relative;
  top: -1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.advert6 {
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(199, 162, 231);
  width: 450px;
  height: 250px;
  position: relative;
  top: -1350px;
  left: 220px;
}

.landing {
  height: 350px;
  width: 600px;
  position: relative;
  left: 529px;
  top: -360px;
}

.largeTextAd {
  font-size: 90px;
  font-style: italic;
  margin-left: 120px;
}

.miniTextAd {
  font-size: 25x;
  position: relative;
  left: 20px;
  margin-left: 120px;
}

.adButton {
  position: relative;
  left: 80px;
  top: -170px;
  color: black;
  background-color: rgba(199, 162, 231, 0.493);
  border-color: rgb(199, 162, 231);
  font-size: 19px;
  padding: 15px 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  font-weight: 500;
  border-width: 2px;
  border-radius: 18px;
  line-height: 1;
}

.together {
  margin: auto;
  margin-top: 90px;
  border-style: solid;
  border-width: 0.3rem;
  border-color: rgb(199, 162, 231);
  height: 500px;
  width: 1200px;
  margin-bottom: 120px;
  overflow: hidden;
  cursor: pointer;
}

.together:hover {
  border-width: 0.6rem;
  transition: all 0.3s ease;
}

.groupOfAds {
  position: relative;
  top: -190px;
}

.countDownWrapper {
  margin: auto;
  text-align: center;
  width: 900px;
  height: 100vh;
  margin-bottom: 10px;
  margin-top: 250px;
}

.count {
  width: 900px;
  height: 250px;
  border-style: solid;
  border-width: 0.2rem;
  border-color: rgb(231, 18, 18);
  height: 50px;
  /* width: 700px; */
}

.C1 {
  font-size: 65px;
}

.C2 {
  font-size: 30px;
}

.wishLink {
  margin-top: 37px;
}
