.welcomeMessage {
  margin: auto;
  margin-top: 90px;
}

.alice-carousel__next-btn-item,
.alice-carousel__prev-btn-item {
  color: black !important;
  font-weight: bolder;
  font-size: 1.75rem;
}

.advert1 {
  width: 450px;
  height: 650px;
  position: relative;
  left: 730px;
}

.advert1:hover {
  border: 0.5rem gold solid;
  transition: all 0.3s ease;
}

.advert2 {
  width: 400px;
  height: 450px;
  position: relative;
  top: -584px;
  left: 130px;
}

.advert2:hover,
.advert3:hover,
.advert4:hover {
  border: 0.5rem gold solid;
  transition: all 0.3s ease;
}

.advert3 {
  width: 510px;
  height: 310px;
  position: relative;
  left: 1350px;
  top: -1154px;
}

.advert4 {
  width: 510px;
  height: 310px;
  position: relative;
  left: 1350px;
  top: -1128px;
}

/* 
train animation */

.train {
  position: absolute;
  top: 119px;
  left: 539px;
  /* bottom: -105px; */
  height: 217px;
  width: 1500px;
  right: 0px;
  background: url(https://docs.google.com/uc?export=download&id=0B2PO2Lr7Bv2QandQOVZSTjBETGs);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  animation: move-train 14s linear infinite;
}

 @keyframes move-train {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2990px);
  }
}
