.navbar {
  background-color: rgba(210, 183, 233, 0.822);
  border-style: solid;
  border-width: 4px;
  border-color:  rgba(210, 183, 233, 0.822);
}

.navbar a {
  color: black !important;
}

.glowNav {
  position: relative;
  font-size: 4.5rem;
  left: 150%;
}

/* a {
  text-decoration: none !important;
  color: black !important;
} */

.glowNav {
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: darksalmon;
  }
  50% {
    color: chocolate;
  }
  100% {
    color: goldenrod;
  }
}

.links{
  text-align: left;
  margin-right: 131px;
  margin-left: 0.5px;
  font-size: 25px;
  position: relative;
  left: 60px;

}
