@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Source+Code+Pro&display=swap');

.white {
  background-color: transparent;
  margin-top: 150px;
}

.pink {
  background-color: transparent;
  height: 500px;
  margin-left: -300px;
  margin-right: 70px;
}

.carousel {
  text-align: center;
  display: block;
}

.sliderimg {
  width: 520px;
  height: 450px;
  text-align: center;
  object-fit: cover;
}

.alice-carousel__next-btn-item {
  color: white !important;
}

.alice-carousel__prev-btn-item {
  color: white !important;
}

.name {
  position: relative;
  top: 60px;
  font-family: "Original Surfer", cursive;
  text-align: center;
}

.brand {
  font-family: "Original Surfer", cursive;
  padding-bottom: 60px;
  position: relative;
  top: 20px;
  font-size: 25px;
  text-decoration: underline;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.descol {
  background-color: rgb(219, 213, 219);
  margin-right: -300px;
  height: max-content;
}

.black {
  background-color: black;
}

.blue {
  background-color: rgb(219, 213, 219);
  width: 140px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
