.resultDivs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nameTitle {
  margin-top: 6.5%;
  font-weight: bolder;
  font-size: 170px;
  height: 100vh;
  width: 1500px;
  text-align: center;
}

.productpic {
  width: 450px;
  height: 450px;
  margin: auto;
  align-content: center;
  position: relative;
  top: 27px;
}

p{
  top: 60px;
  font-size: 40px;
}

.resultBox {
  display: table;
  height: 100vh;
  color: black;
  margin: auto;
  text-align: center;
  font-size: 40px;
  width: 1700px;
  margin-top: 17px;
}

.iconDes {
  font-size: 15px;
  width: 350px;
  position: relative;
  left: 1200px;
  top: -300px;
}

.addButtons {
  font-size: 20px;
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  left: 520px;
  top: -300px;
}
