.resultDivs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2%;
}

.AMWrapper {
  background-color: rgba(255, 255, 0, 0.651);
  height: fit-content;
  width: 550px;
  margin-top: 4.5%;
  margin-left: 1.5%;
  border-style: solid;
  border-color: rgba(255, 255, 0, 0.651);
  border-width: 10px;
  border-radius: 25px;
  padding-left: 15px;
  padding-bottom: 15px;
}
.PMWrapper {
  background-color: rgba(122, 122, 240, 0.651);
  height: fit-content;
  width: 550px;
  border-color: rgba(122, 122, 240, 0.651);
  margin-top: 4.5%;
  border-style: solid;
  border-width: 10px;
  border-radius: 25px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.optionalWrapper {
  background-color: rgba(115, 243, 104, 0.651);
  height: fit-content;
  width: 550px;
  border-color: rgba(115, 243, 104, 0.651);
  margin-top: 4.5%;
  margin-right: 1.5%;
  border-style: solid;
  border-width: 10px;
  border-radius: 25px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.nameTitle {
  margin-top: 3.5%;
  text-align: center;
  font-weight: bolder;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5%;
  width: 90em;
  font-weight: bolder;
  background-color: rgba(210, 183, 233, 0.651);
}
