.displayPics {
  width: 250px;
  height: 245px;
  margin-top: 26px;
  border-style: solid;
  border-width: 1.1px;
  border-color: #8b33f0;
}

.imgCont {
  float: left;
  width: 21.27%;
  height: 500px;
  padding: 7px;
  text-align: center;
  border-style: solid;
  margin-top: 115px;
  margin-right: 11.5px;
  margin-left: 150.5px;
  background-color: white;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-style: oblique;
  color: #32004a;
}

.buttonArea {
  margin-left: 10px;
  margin-top: 15px;
}

.btn {
  background-color: white;
  border-color: #8b33f0;
  color: black;
  font-weight: bold;
  font-size: 17px;
  padding: 11px 20px;
}

.btn:hover {
  font-size: 18px;
  background-color: black;
  color: white;
}
