.Wrapper {
  background-color: transparent;
  margin: auto;
  height: 580px;
  width: 1299px;
  margin-top: 4.5%;
  padding: 13em 19em;
  border-style: solid;
  border-width: 10px;
  border-radius: 25px;
  text-align: center;
  align-content: center;
  box-shadow: 10px -10px 500px rgba(0, 0, 0, 0.9);
}

h1 {
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: -51px;
}

.startButton {
  color: black;
  background-color: rgb(124, 238, 124);
  font-size: 22px;
  padding: 15px 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  font-weight: 500;
  line-height: 1;
  margin-top: 35px;
}

.startButton:hover {
  font-weight: bolder;
  border-style: solid;
  font-size: 24px;
  border-width: 2px;
  border-radius: 18px;
  border-color: gold;
}
