.mr-5 {
  margin-left: 216px;
  top: 50%;
}

a {
  color: red;
}

.bi {
  margin-left: -2px;
  margin-bottom: 4px;
}

.bi-trash-fill {
  font-size: 19px;
  position: relative;
  left: -1px;
}

.heartbtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.75rem;
  height: 1.75rem;
}

.heartbtn:hover {
  background-color: red;
}

.heartbtn:focus {
  background-color: red;
}
