.searchB {
  position: relative;
  left: 444px;
  top: -40px;
  background: black;
  font-size: 20px;
  width: 46px;
  height: 47px;
}

.searchIcon {
  position: relative;
  top: -2px;
}

.form-control {
  font-size: 23px;
  position: relative;
  left: 125px;
  top: 25px;
}

.wholeSearch {
  position: relative;
  left: 10px;
  top: 6px;
}

.searchedValue{
  font-size: 45px;
  margin-top: 50px;
  margin-left: 60px;
}

.searchTitle{
  font-size: 65px;
  margin-top: 50px;
  margin-left: 60px;
}

.resultContainer {
  margin-top: 90px;
  margin-left: 60px;
}

.searchDes {
  width: 600px;
  height: 160px;
  font-size: 18px;
  position: relative;
  left: 1000px;
  bottom: 350px;
  overflow: scroll;
  overflow: auto;

}



.result{
  background-color: rgba(199, 118, 202, 0.103);
  border: black dotted 3px;
  width: 1700px;
  height: 300px;
  margin-bottom: 20px;
}

.searchPic{
  width: 250px;
  height: 250px;
  margin-top: 19px;
}

.searchSub{
  position: relative;
  width: max-content;
  left: 370px;
  bottom: 160px;
  font-weight: bolder;
  font-size: 22px!important;
}

.searchTitle{
  position: relative;
  left: 310px;
  width: 500px;
  bottom: 290px;
  font-weight: bolder;
  font-size: 30px!important;
}

